<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>mySite</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="mySiteDescription"/>
		<meta name="author" content="me"/>
		<meta charset="UTF-8"/>
		
		<link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="css/customStaticPages.css" media="screen"/>
	</head>
	<body>
		index page :
		<ul>
			<li><a href="/firstpage/">first page</a></li>
			<li><a href="/secondpage/">second page</a></li>
		</ul>
	</body>
</html>